Model creation

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score
from sklearn.model_selection import cross_val_score

In [4]:
df = pd.read_csv('HR_Data_engineered.csv')

In [5]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department_RandD,Department_accounting,...,Department_technical,salary_low,salary_medium,satisfaction_level_sq,avg_hours_x_salary_low,avg_hours_x_salary_medium,time_spend_x_salary_low,time_spend_x_salary_medium,num_project_x_salary_low,num_project_x_salary_medium
0,0.38,0.53,2,157,3,0,1,0,False,False,...,False,True,False,0.1444,157,0,3,0,2,0
1,0.80,0.86,5,262,6,0,1,0,False,False,...,False,False,True,0.6400,0,262,0,6,0,5
2,0.11,0.88,7,272,4,0,1,0,False,False,...,False,False,True,0.0121,0,272,0,4,0,7
3,0.72,0.87,5,223,5,0,1,0,False,False,...,False,True,False,0.5184,223,0,5,0,5,0
4,0.37,0.52,2,159,3,0,1,0,False,False,...,False,True,False,0.1369,159,0,3,0,2,0

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

X = df.drop('left', axis=1)
y = df['left']
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42, stratify=y)

# Instantiate the chosen classification model
# RandomForestClassifier is a good choice for robustness
model = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test)[:, 1] # Get probabilities for AUC

# Evaluate the model's performance
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
roc_auc = roc_auc_score(y_test, y_pred_proba)

print(f"Model Performance Metrics:")
print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1-Score: {f1:.4f}")
print(f"AUC-ROC: {roc_auc:.4f}")

Model Performance Metrics:
Accuracy: 0.9907
Precision: 0.9942
Recall: 0.9664
F1-Score: 0.9801
AUC-ROC: 0.9902

In [7]:
cv_scores = cross_val_score(model, X, y, cv=5, scoring='accuracy') # Use X and y from the engineered data

print("Cross-validation Accuracy Scores:", cv_scores)
print("Mean Cross-validation Accuracy:", cv_scores.mean())
print("Standard Deviation of Cross-validation Accuracy:", cv_scores.std())

Cross-validation Accuracy Scores: [0.99833333 0.98033333 0.985      0.999      0.993998  ]
Mean Cross-validation Accuracy: 0.9913329331999556
Standard Deviation of Cross-validation Accuracy: 0.007429526673735381